@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font: inherit;
}

li {
  list-style: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}
