/* Colors */

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);

$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

$white: hsl(0, 0%, 100%);

/* Semantic layer */

$bg-light: $white;
$bg-mid: $very-light-gray;
$bg-dark: $dark-violet;

$text-light: $white;
$text-light-2: $very-light-gray;
$text-mid: $dark-grayish-violet;
$text-dark: $very-dark-violet;

$hover-dark-text: $very-dark-violet;

/* Layout */

$width-desktop: 1440px;
$width-mobile: 375px;

$min-desktop-width: 1158px;
$min-tablet-width: 700px;

/* Transform timing */

$t-x1: 250ms;

/* Typography */

$fw-bold: 700;
$fw-regular: 400;

$ff-heading: "DM Serif Display", serif;
$ff-text: "Karla", sans-serif;
